<div role="search">
  <form id ="rtd-search-form" class="wy-form" action="{{ base_url }}/search.html" method="get">
    <input type="text" name="q" placeholder="Buscar" title="Escriba el nombre de la regla a buscar" autocomplete="off"/>
  </form>
</div>
