<div class="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      {% if config.repo_name == 'GitHub' %}
          <a href="{{ config.repo_url }}" class="fa fa-github" style="float: left; color: #fcfcfc"> GitHub</a>
      {% elif config.repo_name == 'Bitbucket' %}
          <a href="{{ config.repo_url }}" class="icon icon-bitbucket" style="float: left; color: #fcfcfc"> BitBucket</a>
      {% elif config.repo_name == 'GitLab' %}
          <a href="{{ config.repo_url }}" class="icon icon-gitlab" style="float: left; color: #fcfcfc"> GitLab</a>
      {% endif %}
      {% if page.previous_page %}
        <span><a href="{{ page.previous_page.url|url }}" style="color: #fcfcfc;">&laquo; Anterior</a></span>
      {% endif %}
      {% if page.next_page %}
        <span style="margin-left: 15px"><a href="{{ page.next_page.url|url }}" style="color: #fcfcfc">Siguiente &raquo;</a></span>
      {% endif %}
    </span>
</div>
